<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
          <img
            class="img-fluid w-100"
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-5 mb-4">About Us</h1>
        <p class="mb-4">
          the best place to find delicious and healthy meal ideas. Our website
          offers a wide range of meal suggestions and ingredients, all carefully
          curated to meet your dietary needs and preferences.
        </p>
        <p>
          <i class="fa fa-check me-3"></i>We believe in sustainability and
          reducing food waste.
        </p>
        <p>
          <i class="fa fa-check me-3"></i>We encourage our users to use up all
          of their ingredients.
        </p>
        <p>
          <i class="fa fa-check me-3"></i>We want to do our part in creating a
          healthier planet.
        </p>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href=""
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>
<!-- About End -->
