/* ** Testimonial ** */

.testimonial-carousel {
    display: flex;
}

/* Set the size of the testimonial image */

.testimonial-carousel .testimonial-item img {
    width: 60px;
    height: 60px;
}

/* Set the transition effect for the testimonial items */
.testimonial-carousel .testimonial-item,
.testimonial-carousel .testimonial-item * {
    transition: .5s;
}

/* Set the background and text color for the center testimonial item */
.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

/* Set the icon color for the center testimonial item */
.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--secondary) !important;
}

/* Style the carousel navigation */
.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.quote {
    color: #990000;
}