<!-- Testimonial Start -->
<div class="container-fluid bg-light bg-icon py-6 mb-5">
  <div class="container">
    <div
      class="section-header text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-5 mb-3">OUR PASSIONATE TEAM MEMBER</h1>
      <p>
        Our team is passionate about providing exceptional service to our
        customers. With diverse skills and experiences, we work collaboratively
        to deliver outstanding results. We are dedicated to excellence and
        always put our customers first.
      </p>
    </div>
    <div class="testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i
          class="quote fa fa-quote-left fa-3x position-absolute top-0 start-0 mt-n4 ms-5"
        ></i>
        <p class="mb-4">
          Sondos is Founder & CEO and brings a wealth of experience and
          expertise to the table. He has a sharp business and a strategic
          mindset that has helped us.
        </p>
        <div class="d-flex align-items-center">
          <img
            class="flex-shrink-0 rounded-circle"
            src="../../../../assets/img/testimonial-1.jpg"
            alt=""
          />
          <div class="ms-3">
            <h5 class="mb-1">Sondos Said</h5>
            <span>Founder & CEO</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i
          class="quote fa fa-quote-left fa-3x position-absolute top-0 start-0 mt-n4 ms-5"
        ></i>
        <p class="mb-4">
          Omar is our passionate project manager who ensures on-time and
          on-budget project delivery.
        </p>
        <div class="d-flex align-items-center">
          <img
            class="flex-shrink-0 rounded-circle"
            src="../../../../assets/img/testimonial-2.jpg"
            alt=""
          />
          <div class="ms-3">
            <h5 class="mb-1">Omar Walid</h5>
            <span>project manager</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i
          class="quote fa fa-quote-left fa-3x position-absolute top-0 start-0 mt-n4 ms-5"
        ></i>
        <p class="mb-4">
          Mahmoud is our customer service representative and ensures that our
          clients are happy with our services.
        </p>
        <div class="d-flex align-items-center">
          <img
            class="flex-shrink-0 rounded-circle"
            src="../../../../assets/img/testimonial-3.jpg"
            alt=""
          />
          <div class="ms-3">
            <h5 class="mb-1">Mahmoud Ali</h5>
            <span>customer service</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i
          class="quote fa fa-quote-left fa-3x position-absolute top-0 start-0 mt-n4 ms-5"
        ></i>
        <p class="mb-4">
          Sarah is our Master Chef and has a great passion for culinary arts. He
          has an eye for detail and a creative flair that makes his dishes stand
          out.
        </p>
        <div class="d-flex align-items-center">
          <img
            class="flex-shrink-0 rounded-circle"
            src="../../../../assets/img/testimonial-4.jpg"
            alt=""
          />
          <div class="ms-3">
            <h5 class="mb-1">Sarah Hussam</h5>
            <span>Master Chef</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
