<!-- Firm Visit Start -->
<div class="container-fluid bg-icon mt-5 py-6">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-5 text-white mb-3">Recommendation</h1>
        <p class="text-white mb-0">
          Our meal planner offers delicious and nutritious meals tailored to
          your dietary needs. With easy-to-follow recipes and a customizable
          meal schedule, it's the perfect tool for anyone looking to improve
          their diet and take control of their health.
        </p>
      </div>
      <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
        <a class="btnn btn-lg btn-secondary rounded-pill py-3 px-5" href=""
          >Get Now</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Firm Visit End -->
