@import '../../../partials/manifest.css';
.Footer{
  display: flex;
  flex-flow: row wrap;
  font-size: 1.3rem;
  padding: 1rem;
  color:var(--asphalt);
  margin: auto;
  justify-content: center;
}
.Footer__icon{
  color: var(--hotpink);
}
.Footer__link{
  color:var(--hotpink);
}
