<!-- Blog Start -->
<div id="blog" class="container-xxl py-5">
  <div class="container">
    <div
      class="section-header text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-5 mb-3">Latest Blog</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" src="assets/img/blog/1.png" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href=""
            >5 SIMPLE & HEALTHY GLUTEN FREE COOKIE RECIPES</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user me-2"></i>Admin</small>
            <small class="me-3"
              ><i class="fa fa-calendar me-2"></i>01 Jan, 2045</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" src="assets/img/blog/2.png" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href=""
            >5 FOODS THAT SOUND HEALTHY, BUT AREN’T</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user me-2"></i>Admin</small>
            <small class="me-3"
              ><i class="fa fa-calendar me-2"></i>01 Jan, 2045</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="assets/img/blog/3.png" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href=""
            >12 Healthy Dinner Ideas with thier recipies</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user me-2"></i>Admin</small>
            <small class="me-3"
              ><i class="fa fa-calendar me-2"></i>01 Jan, 2045</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
