<!-- Contact Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
        <div
          class="table text-white d-flex flex-column justify-content-center h-100 p-5"
        >
          <h5 class="text-white">Call Us</h5>
          <p class="mb-5"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
          <h5 class="text-white">Email Us</h5>
          <p class="mb-5">
            <i class="fa fa-envelope me-3"></i>info@example.com
          </p>
          <h5 class="text-white">Office Address</h5>
          <p class="mb-5">
            <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA
          </p>
          <h5 class="text-white">Follow Us</h5>
          <div class="d-flex pt-2">
            <a
              class="btn btn-square btn-outline-light rounded-circle me-1"
              href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-square btn-outline-light rounded-circle me-1"
              href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-light rounded-circle me-1"
              href=""
              ><i class="fab fa-youtube"></i
            ></a>
            <a
              class="btn btn-square btn-outline-light rounded-circle me-0"
              href=""
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                />
                <label for="name">Your Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your Email"
                />
                <label for="email">Your Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                />
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a message here"
                  id="message"
                  style="height: 200px"
                ></textarea>
                <label for="message">Message</label>
              </div>
            </div>
            <div class="col-12">
              <button
                class="btnn btn btn-primary rounded-pill py-3 px-5"
                type="submit"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
