

<div *ngIf="data">
  <div class="content-wrapper" style="margin-top: 7%;">
    <section class="content-header">
      <!-- Content Header (Page header) -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="info-item">
                  <label class="info-label">Order ID:</label>
                  <span class="info-value">{{ order._id }}</span>
                </div>
                <div class="info-item">
                  <label class="info-label">Total Price:</label>
                  <span class="info-value"> {{ order.totalPrice }}</span>
                </div>
                <div class="info-item">
                  <label class="info-label">Status:</label>
                  <span class="info-value"> {{ order.status }}</span>
                </div>
                <div class="info-item">
                  <label class="info-label">Date:</label>
                  <span class="info-value">
                    {{ order.date | date : "dd-MM-yyyy" }}</span
                  >
                </div>
                <div class="info-item">
                  <label class="info-label">Time:</label>
                  <span class="info-value">{{
                    order.date | date : "hh:mm:ss a"
                  }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="">
                  <h2>User Information</h2>
                </div>
                <div class="info-item">
                  <label class="info-label">User ID:</label>
                  <span class="info-value">{{ user._id }}</span>
                </div>
                <div class="info-item">
                  <label class="info-label">Name:</label>
                  <span class="info-value"
                    >{{ user.fname }} {{ user.lname }}</span
                  >
                </div>
                <div class="info-item">
                  <label class="info-label">Email:</label>
                  <span class="info-value">{{ user.email }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">

        <h2>Ordered Meals</h2>
          <!-- Iterate through the meals data and display each meal -->
          <div class="container">
            <div class="row">
              <div *ngFor="let meal of meals" class="col-md-5 offset-1 mb-2 p-5 card">

                  <img
                    src="{{ meal.image }}"
                    class="card-img-top img-responsive  img-fluid   w-50"
                    style="margin-left: 25%;"
                    alt="{{ meal.title }}"
                  />
                  <div class="card-body">
                    <h2 class="card-title">{{ meal.title }}</h2>
                    <p class="card-text">{{ meal.summary }}</p>

                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="content-wrapper">
  <ng-template #preloader>
    <!-- <app-preloader></app-preloader> -->
  </ng-template>
</div>
