<div >
  <header class="signup-header" style="margin-top: 20%;">
    <h2>Login</h2>
  </header>
  <form   action="#" class="form">
    <div class="input-group">
      <input #email type="email" required>
      <label>Email</label>
      <p
      class="text-danger float-start error"
      *ngIf="!isEmailValid"
    >
      {{ emailMsg }}
    </p>
    </div>

    <div class="input-group">

      <input #password type="password" required>
      <label>Password</label>
      <p
      class="text-danger float-start error"
      *ngIf="!isPasswordValid"
    >
      {{ passwordMsg }}
    </p>
    </div>
    <div class="social-links">
      <a href="#" class="facebook"><i class="fa fa-brands fa-facebook-f"></i></a>
      <a href="#" class="google"><i class="fa fa-brands fa-google"></i></a>
      <a href="#" class="twitter"><i class="fa fa-brands fa-twitter"></i></a>
      <a href="#" class="github"><i class="fa fa-brands fa-github"></i></a>
    </div>
  <button type="button"  style="margin-top: 10%;">
  Login

  </button>
  </form>
</div>
