<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Reset Password?</h5>

            </div>
            <form (ngSubmit)="ResetPassword(password.value)"
             >
              <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input #password type="password" id="password" class="form-control" name="email" placeholder="Enter Your new password"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
