
    <div class="">
			<header class="signup-header" style="margin-top: 20%;">
        <div class="text-danger" *ngIf="!Validation">
          {{ validationMessage }}
        </div>
				<h2>Sign Up</h2>

			</header>
			<form (ngSubmit)="AddNewUser(username.value,email.value,password.value)"
      [formGroup]="validationForm"   class="form"
      >
				<div class="input-group">
					<input class="form-control" #username type="text" required>
					<label>Username</label>
				</div>
				<div class="input-group" style="background-color: transparent;">
					<input class="form-control" #email type="email" required>
					<label>Email</label>
				</div>
				<div class="input-group">
					<input  class="form-control" #password type="password" required pattern=".{8,}">
					<label>Password</label>
				</div>
			<button type="submit" >
				Join Us
			</button>
			</form>
    </div>
