
    <div class="">
			<header class="signup-header" style="margin-top: 20%;">
        <div class="text-danger" *ngIf="!Validation">
          {{ validationMessage }}
        </div>
				<h2>Sign Up</h2>

			</header>
			<form (ngSubmit)="AddNewUser(username.value,email.value,password.value,is_chef.value)"
      [formGroup]="validationForm"   class="form"
      >
				<div class="input-group">
					<input class="form-control" #username formControlName="username" type="text" required>
					<label>Username</label>
          <p
      class="text-danger float-start error"
      *ngIf="!isUsernameValid"
    >
      {{ usernameMsg }}
    </p>
				</div>
				<div class="input-group" style="background-color: transparent;">
					<input class="form-control" #email formControlName="email" type="email" required>
					<label>Email</label>
          <p
      class="text-danger float-start error"
      *ngIf="!isEmailValid"
    >
      {{ emailMsg }}
    </p>
				</div>
				<div class="input-group">
					<input  class="form-control" #password type="password" required pattern=".{8,}">
					<label>Password</label>
          <p
      class="text-danger float-start error"
      *ngIf="!isPasswordValid"
    >
      {{ passwordMsg }}
    </p>
				</div>
        <div style="display: flex; padding-left: 15px; padding-top: 20px;">
          <div style="display: flex; flex-direction: row;">
            <input #is_chef type="checkbox" id="option2" name="options"  (click)="updateCheckboxValue()" style="width: 15px; height: 15px;">
            <label for="option2">Chef</label>
          </div>
        </div>

			<button type="submit" >
				Join Us
			</button>
      <div class="social-links" >
        <a  class="facebook onhover" style="color: #778395;"><i class="fab fa-brands fa-facebook-f"></i></a>
        <a  class="google onhover" style="color: #778395;"><i class="fab fa-brands fa-google"></i></a>
        <a  class="twitter onhover" style="color: #778395;"><i class="fab fa-brands fa-twitter"></i></a>
        <a  class="github onhover" style="color: #778395;"><i class="fab fa-brands fa-github"></i></a>
      </div>
      <i class="fa-sharp fa-solid fa-house"></i>
      <i class="fa-light fa-house-person-leave"></i>
			</form>

    </div>
