.sign {
  color: #990000;
}

.btn1 {
  background-color: #2e394d;
  color: white;
}

.btn2 {
    background-color: #990000;
    color: white;
}
.add-btn {
  background-color: #990000;
  border-radius: 10% !important;
  margin-left: 48%;
  margin-top: 2%;
  color: white;
  height: 30px !important;
  width: 80px;
  display: block;
  text-align: center;
  padding-top: 3px;
}
.curs{
  cursor: pointer;
}
.spinner-border {
  color: #990000;
  background-color: #990000;
  color: white;
}

.badge {
  display: inline-block;
  padding: 5px;
  font-weight: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge-warning {
  background-color: yellow;
  color: #1f2d3d;
}
.badge-success {
  background-color: green;
  color: #1f2d3d;
}
.badge-danger {
  background-color: #990000;
  color: #1f2d3d;
}

.badge-secondary {
  background-color: gray;
  color: #1f2d3d;
}
.badge-primary {
  background-color: blue;
  color: #1f2d3d;
}
