<!-- Content Start -->
<div class="content">
  <!-- Sale & Revenue Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-light rounded d-flex align-items-center justify-content-between p-4"
        >
          <i class="sign fa fa-chart-line fa-3x"></i>
          <div class="ms-3">
            <p class="mb-2">Total Orders Price</p>
            <h6 class="mb-0">$1234</h6>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-light rounded d-flex align-items-center justify-content-between p-4"
        >
          <i class="sign fa fa-chart-area fa-3x"></i>
          <div class="ms-3">
            <p class="mb-2">Top Category</p>
            <h6 class="mb-0">Pasta Category</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sale & Revenue End -->

  <!-- Sales Chart Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Total Price</h6>
          </div>
          <canvas #worldwideSalesCanvas id="worldwide-sales"></canvas>
        </div>
      </div>
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Top Category</h6>
          </div>
          <canvas #salesRevenueCanvas id="sales-revenue"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Sales Chart End -->

  <!-- Recent Sales Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Latest Orders</h6>
      </div>
      <div class="table-responsive">
        <table
          class="table text-start align-middle table-bordered table-hover mb-0"
        >
          <thead>
            <tr class="text-dark">
              <th scope="col">
                <input class="form-check-input" type="checkbox" />
              </th>
              <th scope="col">Order ID</th>
              <th scope="col">Total Price</th>
              <th scope="col">Status</th>
              <th scope="col">Details</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>01 Jan 2045</td>
              <td>$123</td>
              <td>Paid</td>
              <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
              <td><a class="btn2 btn btn-sm" href="">Cancle</a></td>
            </tr>
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>01 Jan 2045</td>
              <td>$123</td>
              <td>Paid</td>
              <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
              <td><a class="btn2 btn btn-sm" href="">Detail</a></td>
            </tr>
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>01 Jan 2045</td>
              <td>$123</td>
              <td>Paid</td>
              <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
              <td><a class="btn2 btn btn-sm" href="">Detail</a></td>
            </tr>
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>01 Jan 2045</td>
              <td>$123</td>
              <td>Paid</td>
              <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
              <td><a class="btn2 btn btn-sm" href="">Detail</a></td>
            </tr>
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>01 Jan 2045</td>
              <td>$123</td>
              <td>Paid</td>
              <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
              <td><a class="btn2 btn btn-sm" href="">Detail</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Recent Sales End -->
</div>
<!-- Content End -->
