.sign {
    color: #990000;
}

.btn1 {
    background-color: #2e394d;
    color: white;
}

.btn2 {
    background-color: #990000;
    color: white;
}
.add-btn {
  background-color: #990000;
  border-radius: 10% !important;
  margin-left: 48%;
  margin-top: 2%;
  color: white;
  height: 30px !important;
  width: 80px;
  display: block;
  text-align: center;
  padding-top: 3px;
}
