<!-- Content Start -->

<div class="container container-fluid bg-icon my-5 py-6">
  <!-- *ngIf="highestRateCategory; else falseBlock" -->
  <ng-container>
    <div class="content mt-9">
      <!-- Sale & Revenue Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <i class="sign fa fa-chart-line fa-3x"></i>
              <div class="ms-3">
                <p class="mb-2">Total Orders Price</p>
                <h6 class="mb-0">{{ totalOrdersPrice }}</h6>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <i class="sign fa fa-chart-area fa-3x"></i>
              <div class="ms-3">
                <p class="mb-2">Top Category</p>
                <h6 class="mb-0">{{ highestRateCategory }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sale & Revenue End -->

      <!-- Sales Chart Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
              <div
                class="d-flex align-items-center justify-content-between mb-4"
              >
                <h6 class="mb-0">Total Price</h6>
              </div>
              <canvas #worldwideSalesCanvas id="worldwide-sales"></canvas>
            </div>
          </div>
          <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
              <div
                class="d-flex align-items-center justify-content-between mb-4"
              >
                <h6 class="mb-0">Top Category</h6>
              </div>
              <canvas #salesRevenueCanvas id="sales-revenue"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Sales Chart End -->

      <!-- Recent Sales Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Latest Orders</h6>
          </div>
          <div class="table-responsive">
            <table
              class="table text-start align-middle table-bordered table-hover mb-0"
            >
              <thead>
                <tr class="text-dark">
                  <th scope="col">
                    <input class="form-check-input" type="checkbox" />
                  </th>
                  <th scope="col">Order ID</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Status</th>
                  <th scope="col">Details</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orderDetails">
                  <td><input class="form-check-input" type="checkbox" /></td>
                  <td>{{ order.orderId }}</td>
                  <td>{{ order.totalPrice }}</td>
                  <td>
                    <span [ngClass]="getStatusClass(order.status)">{{
                      order.status
                    }}</span>
                  </td>
                  <td><a class="btn1 btn btn-sm" href="">Detail</a></td>
                  <!-- //noAction block  -->
                  <!-- <td *ngIf="order.status == 'pending'; else noAction"> -->
                  <td *ngIf="order.status == 'pending'">
                    <button
                      routerLink="/payment/{{ order.orderId }}"
                      type="button"
                      class="btn btn-primary"
                    >
                      payment
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger mx-2"
                      (click)="updateOrderStatus(order.orderId, 'cancelled')"
                    >
                      Cancel
                    </button>
                    <!-- </td> -->
                    <!-- <ng-template #noAction> -->
                    <!-- <td *ngIf="order.status == 'pending' "> -->
                  </td>
                  <ng-template *ngIf="order.status == 'rejected'">
                    <label class="text-danger">Rejected</label></ng-template
                  >
                  <!-- </ng-template> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Recent Sales End -->
    </div>
    <!-- Content End -->
  </ng-container>
  <!-- <ng-template #falseBlock> -->
  <!-- <div -->
  <!-- id="spinner" -->
  <!-- class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center" -->
  <!-- > -->
  <!-- <div class="spinner-border" role="status"></div> -->
  <!-- </div> -->
  <!-- </ng-template> -->
</div>
