<!-- Congratulations area starts -->
<div class="congratulation-area text-center">
  <div class="container">
    <div class="congratulation-wrapper">
      <div class="congratulation-contents center-text">
        <div class="congratulation-contents-icon">
          <i class="fa fa-check"></i>
        </div>
        <h4 class="congratulation-contents-title">Congratulations!</h4>
        <p class="congratulation-contents-para">
          Your account is ready to submit proposals and get work.
        </p>
        <div class="btn-wrapper mt-4">
          <a routerLink="#" class="cmn-btn btn-bg-1"> Go to Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Congratulations area end -->
